.dropdownBtn {
  width: 27%;
  border-color: #2c2f36;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-radius: 18px;
}

.dropdownMenu {
  padding: 0;
  min-width: 125px !important;
  background-color: #191b2f;
  margin-left: 127px;
  margin-top: -77px;
}

.dropdownItem {
  margin: 8px 0;
  padding-left: 20px;
}

.dropdownText {
  color: #fff;
  font-size: large;
  display: flex;
  align-items: center;
}

.dropdownItem:hover {
  background-color: #2d212e;
}